@import url('https://fonts.googleapis.com/css2?family=Micro+5&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Micro+5&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* criando variáveis */
:root {
    --font: #8CABFF;
    --second: #4477CE;
    --background: #0f0618;
    --hover: #512B81;
    --font-title: "Micro 5", sans-serif;
    --font-p: "Anta", sans-serif;
}

/* reset css */
* {
    margin: 0;
    padding: 0;
}



body {
    /* height: 100vh; */
    /* width: 100%; layout sem scroll */
    background-color: var(--background);
    color: var(--font);
    box-sizing: border-box;
}

.cabecalho {
    padding: 5% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 50px;
}

.cabecalho__btn {
    color: var(--second);
    font-family: var(--font-p);
    text-decoration: none;
    font-size: 1.25rem;
}
.cabecalho__btn:hover {
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    gap: 60px;
}

.main__title {
    /* 16px = 1rem */
    font-size: 3rem;
    font-family: var(--font-title);
}

.second__title {
    font-size: 2.5rem;
    font-family: var(--font-title);
}

.main__p {
    font-size: 1rem;
    font-family: var(--font-p);
}

.negrito {
    color: var(--second);
}

.btn{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.btn__1, .btn__2 {
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: transparent;
    width: 50%;
    text-align: center;
    font-family: var(--font-p);
    border-radius: 10px;
    color: var(--font);
    border: 1px solid var(--second);
    padding: 10px 0;
    text-decoration: none;
    font-size: 1rem;
}

.btn__1:hover, .btn__2:hover {
    background-color: var(--hover);
}

.icons {
    width: 20px;
}

.esq__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dir__content {
    width: 50%;
    display: flex;
    justify-content: center;
}

.rodape {
    color: var(--font);
    background-color: var(--second);
    padding: 10px;
    font-family: var(--font-p);
    text-align: center;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* media queries */
@media (max-width: 1150px) {
    .main {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .cabecalho {
        padding: 5%;
    }
    .cabecalho__menu {
        justify-content: center;
    }
    .esq__content {
        width: auto;
    }
    .rodape {
        position: relative;
    }
}
